.theme-dark,
.theme-light {
    --code-background: var(--background-secondary);
    --code-white: #d5d3d8;
    --code-red: #c22c53;
    --code-green: #129939;
    --code-aqua: #34b4e4;
    --code-light-green: #3fd880;
    --code-yellow: #e8ee71;
    --code-orange: #e7812c;
}
